#formato{
/*    background-color: blue;*/
    margin-top: 3%;
    margin-bottom: 20%;
    margin-right: 30%;
} 
#titulop{
/*    background-color: yellow;*/
   margin-left: 20%;
   margin-top: -19%;
}
#autorp{
/*    background-color: darkblue;*/
     margin-left: 20%;
}
#fechap{
/*    background-color: red;*/
    margin-left:20%;
}
#descripcionp{
/*    background-color: orange;*/
    margin-left:20%;
}
#eltitulo{
/*    background-color: palevioletred;*/
    margin-left:20%;
/*    margin-top: -2.4%; */
    color:#00bfa5;
}
#elautor{
/*    background-color: fuchsia;*/
    margin-left:20%;
/*    margin-top: -2.4%;*/
    color:#00bfa5;
}
#lafecha{
/*    background-color:  gray;*/
    margin-left:20%;
/*    margin-top: -2.4%;*/
    color:#00bfa5;
}
#ladescripcion{
/*    background-color: green;*/
    margin-left:20%;
/*     margin-top: -2.4%;*/
    color:#00bfa5;
}
#descargar{
/*    background-color: brown;*/
    margin-left:20%;    
}
#btnddescar{
/*    background-color: greenyellow;*/
    margin-top: -2%;
}
#mensaje{
    color:#f98900;
}

#formatos{
/*    background-color: red;*/
}
#TtTtulo{
/*    background-color: yellow;*/
}
#titulorespuesta{
/*    background-color: red;*/
    margin-left: 5%;
    margin-top: -2.3%;
      color:#00bfa5;
}
#autorrespuesta{
/*    background-color: pink;*/
     margin-left: 5%;
    margin-top: -2.3%;
      color:#00bfa5;
    
}
#latitulo{
/*    background-color: blue;*/
}
#laformato{
/*    background-color: yellow;*/
}
#laautor{
/*    background-color: orange;*/
}
#elfecha{
/*    background-color: darkblue;*/
}
#fecharespuesta{
/*    background-color: greenyellow;*/
       margin-left: 5%;
    margin-top: -2.3%;
      color:#00bfa5;
    
}
#eldescripcion{
/*    background-color: salmon; */
}
#descripcionrespuesta{
/*    background-color: aqua;*/
     margin-left: 8.5%;
    margin-top: -2.3%;
      color:#00bfa5;
    
}
#leformato{
/*    background-color: fuchsia;*/
}
#formatorespuesta{
/*    background-color: gold;*/
        margin-left: 7.2%;
    margin-top: -2.3%;
      color:#00bfa5;
}
#imagen{
/*    background-color: brown;*/
    margin-top: 2.5%;
    margin-bottom: 1%;
}
#ladescargav{
/*    background-color: green;*/
    margin-top: -3%;
} 
.Consulta{
    width: 1060px !important;
   float: none;
    margin: 0 auto; 
}
@media(max-width: 600px){
   .Consulta{
    width: 100%;
   float: left;
    margin: 0;  
/*    clean:both;*/
    }
/*    .btn-block{
        width: 100%;
   float: left;
    margin: 0;
    }*/
/*    #formato{
        width: 50px;
    }
    #tituloP{
         width: 30px;
    }
    #eltitulo{
         width: 50px;
    }
    #autorp{
         width: 30px;
    }
    #elautor{
         width: 30px;
    }
    #fechap{
      width: 30px;   
    }
    #lafecha{
      width: 30px;   
    }
    #descripcionp{
      width: 30px;   
    }
    #ladescripcion{
      width: 30px;   
    }
    #btnddescar{
      width: 30px;   
    }*/
    
    
    
    
   
}
/*.btnbuscar{
     overflow: auto;
     max-width: 200px;
  min-width: 200px;
}*/

/*.Consulta{
    width: 1060px !important;
    float: none;
    margin: 0 auto; 
}
@media(max-width: 600px){
   .Consulta{
    width: 100%;
   float: left;
    margin: 0;  
    }
    #formato{
        width: 50px;
    }
}*/
/*.pruebas{
   max-width: 160px !important;
   float: none;
    margin: 0 auto; 
}
.btnbuscar{
     overflow: auto;
     max-width: 200px;
  min-width: 200px;
}*/
/* @media(min-width: 601px){
   .Consulta{
    width: 100% !important;
   float: left;
    margin: 0;  
    }
 }*/
