<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>estadocontroller</servlet-name>
        <servlet-class>controller.EstadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sesioncontroller</servlet-name>
        <servlet-class>controller.sesionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administradocontroller</servlet-name>
        <servlet-class>controller.AdministradoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>funcionariocontroller</servlet-name>
        <servlet-class>controller.FuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ciudadController</servlet-name>
        <servlet-class>controller.ciudadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>centrocontroller</servlet-name>
        <servlet-class>controller.CentroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>areacontroller</servlet-name>
        <servlet-class>controller.AreaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>equipocontroller</servlet-name>
        <servlet-class>controller.EquipoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listachequeo</servlet-name>
        <servlet-class>controller.ListaChequeo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>programacontroller</servlet-name>
        <servlet-class>controller.ProgramaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>temacontroller</servlet-name>
        <servlet-class>controller.TemaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormatoController</servlet-name>
        <servlet-class>controller.FormatoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>itemcontroller</servlet-name>
        <servlet-class>controller.ItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alistacontroller</servlet-name>
        <servlet-class>controller.AListaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>masterpage</servlet-name>
        <servlet-class>controller.masterPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oacontroller</servlet-name>
        <servlet-class>controller.oaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>programafor</servlet-name>
        <servlet-class>controller.programaFor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sesioncontrollers</servlet-name>
        <servlet-class>M_Controller.sesioncontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>funcionariocontrollers</servlet-name>
        <servlet-class>M_Controller.FuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Coordinador_Controller</servlet-name>
        <servlet-class>M_Controller.Linkeos.Coordinador_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Equipo_Controller</servlet-name>
        <servlet-class>M_Controller.Linkeos.Equipo_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Instrutor_Controller</servlet-name>
        <servlet-class>M_Controller.Linkeos.Instrutor_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DController</servlet-name>
        <servlet-class>M_Controller.DController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorreoController</servlet-name>
        <servlet-class>M_Controller.Correos.CorreoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArchivosController</servlet-name>
        <servlet-class>M_Controller.Archivos.ArchivosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>estadocontroller</servlet-name>
        <url-pattern>/estadocontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sesioncontroller</servlet-name>
        <url-pattern>/sesioncontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administradocontroller</servlet-name>
        <url-pattern>/administradocontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>funcionariocontroller</servlet-name>
        <url-pattern>/funcionariocontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ciudadController</servlet-name>
        <url-pattern>/ciudadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>centrocontroller</servlet-name>
        <url-pattern>/centrocontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>areacontroller</servlet-name>
        <url-pattern>/areacontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>equipocontroller</servlet-name>
        <url-pattern>/equipocontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listachequeo</servlet-name>
        <url-pattern>/listachequeo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>programacontroller</servlet-name>
        <url-pattern>/ProgramaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>temacontroller</servlet-name>
        <url-pattern>/temacontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormatoController</servlet-name>
        <url-pattern>/FormatoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemcontroller</servlet-name>
        <url-pattern>/itemcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alistacontroller</servlet-name>
        <url-pattern>/alistacontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>masterpage</servlet-name>
        <url-pattern>/masterpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oacontroller</servlet-name>
        <url-pattern>/oacontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>programafor</servlet-name>
        <url-pattern>/programafor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sesioncontrollers</servlet-name>
        <url-pattern>/sesioncontrollers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>funcionariocontrollers</servlet-name>
        <url-pattern>/funcionariocontrollers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coordinador_Controller</servlet-name>
        <url-pattern>/coordinador_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Equipo_Controller</servlet-name>
        <url-pattern>/Equipo_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DController</servlet-name>
        <url-pattern>/DController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorreoController</servlet-name>
        <url-pattern>/CorreoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArchivosController</servlet-name>
        <url-pattern>/ArchivosController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
